<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>https://xjp02-02.oss-ap-southeast-1.aliyuncs.com/vndAPK/1078IPA/1078Club-mobile.ipa</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>full-size-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>https://xjp02-02.oss-ap-southeast-1.aliyuncs.com/vndAPK/1078IPA/ic_launcher.png</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>display-image</string>  
                    <key>needs-shine</key>
                    <true/>  
                    <key>url</key>  
                    <string>https://xjp02-02.oss-ap-southeast-1.aliyuncs.com/vndAPK/1078IPA/ic_launcher.png</string>  
                </dict>  
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string>com.clubSFMJR1078.club1078.qp.ios</string>  
                <key>bundle-version</key>  
                <string>1.0</string>  
                <key>kind</key>  
                <string>software</string>  
                <key>title</key>  
                <string>1078CLUB</string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist>
